---

full:
  list_of_users:
{% for user in engagement_users | default([]) %}
{% filter indent(width=6) %}
    - {{ user | to_nice_yaml }}
{%- endfilter %}
{%- endfor %}
 
internal:
  list_of_users:
{% for user in engagement_users | default([]) %}
{% filter indent(width=6) %}
{% if 'redhat.com' in user.email %}
    - {{ user | to_nice_yaml }}
{%- endif %}
{%- endfilter %}
{%- endfor %}

list_of_mail_cc:
    - {{ engagement_lead_email }}
    - {{ technical_lead_email }}