---

full:
  list_of_users:
{% for user in engagement_users | default([]) %}
{% filter indent(width=6) %}
    - {{ user | to_nice_yaml }}
{%- endfilter %}
{%- endfor %}
 
internal:
  list_of_users:
{% for user in engagement_users | default([]) %}
{% filter indent(width=6) %}
{% if 'redhat.com' in user.email %}
    - {{ user | to_nice_yaml }}
{%- endif %}
{%- endfilter %}
{%- endfor %}

{%- set users = [] %}
{% if engagement_lead_email is defined and engagement_lead_email|length %}
{{ users.append(engagement_lead_email) }}
{%- endif %}
{% if technical_lead_email is defined and technical_lead_email|length %}
{{ users.append(technical_lead_email) }}
{%- endif %}

admins:
  list_of_users:
{% for user in engagement_users | default([]) %}
{% filter indent(width=6) %}
{% if 'lodestar-admins' in user.role %}
    - {{ user | to_nice_yaml }}
{%- endif %}
{%- endfilter %}
{%- endfor %}


{% if users %}
list_of_mail_cc:
{% for user in users %}
  - {{ user }}
{% endfor %}
{%- endif %}
