#jinja2: trim_blocks:False
---
apiVersion: poolboy.gpte.redhat.com/v1
kind: ResourceClaim
metadata:
  name: {{ (engagement_type | lower) + '.' + (governor_type | lower) + '.' + (governor_spec | lower ) }}-{{ project_id }}
  labels:
    "babylon.gpte.redhat.com/catalogItemName": {{ (engagement_type | lower) + '.' + (governor_type | lower) + '.' + (governor_spec | lower ) }}
    "babylon.gpte.redhat.com/catalogItemNamespace": openshift
spec:
  resources:
  - provider:
      apiVersion: poolboy.gpte.redhat.com/v1
      kind: ResourceProvider
      name: {{ (engagement_type | lower) + '.' + (governor_type | lower) + '.' + (governor_spec | lower) }}
      namespace: babylon-operators
    template:
      spec:
        vars:
          # The action schedule is hardcoded to fixed dates to avoid any accidental shutdown.
          # - these values are required by Babylon, but aren't in play for our use,
          #   and hence can be hardcoded to past/future values that are considered "safe"
          #   as we don't expect to hit these future dates in the lifespan of this solution
          action_schedule:
            start: "2020-01-01T00:00:00Z"
            stop: "2100-01-01T00:00:00Z"
          {%- if desired_state is defined and desired_state|length %}
          desired_state: {{ desired_state }}
          {%- endif %}
          job_vars:
            {{ claim_content | to_nice_yaml | indent(12) }}
