#jinja2: trim_blocks:False
---
apiVersion: poolboy.gpte.redhat.com/v1
kind: ResourceClaim
metadata:
  name: {{ (engagement_type | lower) + '.' + (governor_type | lower) + '.' + (governor_spec | lower ) }}-{{ project_id }}
spec:
  resources:
  - provider:
      apiVersion: poolboy.gpte.redhat.com/v1
      kind: ResourceProvider
      name: {{ (engagement_type | lower) + '.' + (governor_type | lower) + '.' + (governor_spec | lower) }}
      namespace: lodestar-babylon-operators
    template:
      spec:
        vars:
          action_schedule:
            start: "{{ ansible_date_time.iso8601 }}"
            stop: "{{ '%Y-%m-%dT%H:%M:%SZ' | strftime((ansible_date_time.epoch | int) + (4 * 60 * 60)) }}"
          {%- if desired_state is defined and desired_state|length %}
          desired_state: {{ desired_state }}
          {%- endif %}
          job_vars:
            {{ claim_content | to_nice_yaml | indent(12) }}
